.privacy-link {
    float: left;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 767px) {
    /* Hide the element on mobile devices */
    .privacy-link {
      display: none;
    }
  }

  .plink {
    display: none;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 767px) {
    /* Show the element on mobile devices */
    .plink {
      display: block;
    }
  }

  .hidden {
    display: none;
}
.clicked {
  border: 2px solid #5974ec; /* You can adjust the border style as needed */
  /* You can also add other styling as desired, such as focus effects */
}

.image-container {
  padding-left: 100px;
  float: left;
  clear: left;
  width: 100%; /* Ensure each container takes up the full width to stack vertically */
  margin-bottom: 10px; /* Adjust this value to control the vertical spacing between images */
}

.inner-container {
  float: left; /* Float the inner containers left */
}

